165-22-129-249.sslip.io {
	route {
		handle /api/* {
			reverse_proxy 127.0.0.1:8787
		}

		handle /health {
			reverse_proxy 127.0.0.1:8787
		}

		root * /var/www/podman
		try_files {path} /index.html
		file_server
	}
}

lk.165-22-129-249.sslip.io {
	reverse_proxy localhost:7880
}
